<template name="header">
    <div class="header">
        <div class="right-header-block">
            <div class="divider"></div>
            <a class="login-link" href="javascript:void(0)">log in</a>
            <div class="header-text">or</div>
            <a class="button">Sign up</a>
            <div class="divider"></div>
            <a class="forgot-your-password" href="javascript:void()">forgot your password?</a>
        </div>
        <h1 class="logo">PALS</h1>
        <div class="blue-header-block">
            <a class="home-link" href="javascript:void()">Home</a>    
        </div>
        <div id="error"><div class="error-content">Error</div><a href="javascript:void(0)" class="error-close"></a></div>
    </div>
</template>
