<template name="palsSignUp">
    <div class="sign-up">
        <div id="sign-up-form" class="sign-up-text">
            <p>
                New to PALS? <span class="grey-text">Sign up</span>
            </p>
            <div class="input-row"><input type="text" name="name" required="required" placeholder="Full Name"></div>
            <div class="input-row"><input type="text" name="institution" required="required" placeholder="Institution"></div>
            <div class="input-row"><input type="text" name="username" title="The username you will use to log into pals" required="required" placeholder="Username"></div>
            <div class="input-row"><input type="password" name="password" required="required" placeholder="Password"></div>
            <div class="input-row"><input type="password" name="confirmPassword" required="required" placeholder="Confirm Password"></div>
            <div class="input-row"><input type="email" name="email" required="required" placeholder="Email"></div>
            <div class="input-row"><a class="sign-up-button button" href="javascript:void(0)">Sign Up</a></div>
        </div>
    </div>
</template>
