<template name="palsSignUp">
    <div class="sign-up">
        <div id="sign-up-form" class="sign-up-text">
            <label>Name</label><input type="text" name="name">
            <label>Institution</label><input type="text" name="institution">
            <label>Username</label><input type="text" name="username">
            <label>Password</label><input type="text" name="password">
            <label>Confirm Password</label><input type="text" name="confirm-password">
            <label>Email</label><input type="text" name="email">
            <a class="sign-up-button" href="javascript:void(0)">Sign Up</a>
        </div>
    </div>
</template>
